$table-border-color: #ddd;

.movieTable {
  width: 100%;
  border-collapse: collapse;

  .image {
    width: 100px;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid $table-border-color;
  }

  th {
    background-color: #f4f4f4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
  }

  .moviePoster {
    width: 150px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    display: block;
  }
}
